@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --primary-color: #ff6b16fd;
    --secondary-color: #ffeaddfd;
    --background-color: white;
    --sekelton-color: #c2c2c2;

    --icon-btn-bg-color: rgb(233, 231, 231);
    --icon-btn-hover-color: #ffeaddfd;
    --secondary-btn-color: #ffeaddfd;
    --secondary-btn-hover-color: #fcbf9cfd;
    --btn-color: #ff6b16fd;

    --primary-heading-color: #333;
    --hero-heading-color: white;
    --result-meta-color: rgb(100, 100, 100);

    
    --mobile-nav-background-color: #ffeaddfd;
    --mobile-nav-active-color: #fcbf9cfd;

    --outline: rgb(221, 221, 221);
    --black-alpha-10: rgba(0, 0, 0, 0.1);
    --black-alpha-20: rgba(0, 0, 0, 0.2);

    --header-height: 65px;
}

.dark-mode 
{
    --background-color: rgb(17, 17, 17);
}

*
{
    margin: 0;
    padding: 0;
}

.material-symbols-outlined 
{
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

a 
{
    text-decoration: none;
    color: inherit;
}

ul, ol 
{
    list-style: none;
}

button, input 
{
    background-color: transparent;
    font-family: inherit;
    border: none;

}
button 
{
    cursor: pointer;
}

body 
{
    font-family: "Poppins" , sans-serif;
    background-color: var(--background-color);
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    padding-block-end: 66px;
}

@keyframes skeleton {
    0% {opacity: 0.3}

    100% {opacity: 0.7;}
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Header  */


.header 
{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    z-index: 3;
}
.header .container 
{
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-block-end: 1px solid var(--outline);
    
    
}

.logo 
{
    height: 40px;
}

.header-tabs 
{
    display: none;
}

.icon-btn 
{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}


.bookmarks-btn
{
    background-color: var(--btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    display: none;
}

/* Mobile Nav  */

.mobile-nav 
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: 8px;
    background-color: var(--mobile-nav-background-color);
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.mobile-nav-list 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobile-nav-list .list-item , .mobile-nav-list .list-item a
{
    display: grid;
    place-items: center;
    cursor: pointer;
    
}

.mobile-nav-list .icon-container
{
    display: grid;
    place-items: center;
    padding: 4px 16px;
    border-radius: 50px;
    
}

.mobile-nav-list .list-item.active .icon-container    /*ACTIVE PAGE*/
{
    background-color: var(--mobile-nav-active-color);
    
}
.mobile-nav-list .list-item.active .material-symbols-outlined   /*ACTIVE PAGE ICON FILLED*/
{
    font-variation-settings:'FILL' 1;
}

.mobile-nav-list .nav-label 
{
    font-size: 12px;
    
}
/* Main  */



/* .section 
{
    width: 100%;
}
.container
{
    max-width: 1130px;
    width: 100%;
    margin-inline: auto;
} */

.section:not(:first-child, :nth-child(2))
{
    margin-block-end: 10px;
}
.main 
{
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    
}

article.container 
{
    animation: fade-in 500ms forwards;
}

/* Hero Section  */

.hero-section
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-image: url("Assets/Hero/2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 400px;
    
}

.hero-section::before 
{
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-section  .hero-section-content 
{
    color: var(--hero-heading-color);
    position: relative;
    z-index: 2;
    gap: 40px;
    padding: 0.8rem;
    width: 100%;
    
}
.hero-section  .hero-section-content , .hero-section-content .hero-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.hero-section-content .hero-text h2 
{
    font-size: 28px;
}

.hero-section-content .hero-text p 
{
    font-size: 14px;
}
.hero-section-content .hero-text 
{
    gap: 0px;
}

.search-wrapper 
{
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 4px;
    width: 90%;
    border-radius: 4px;
    
}
 .search-input 
{
    
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    font-weight: 400;
}



.search-input::-webkit-search-cancel-button 
{
    display: none;
}

.search-wrapper .search-button 
{
    display: flex;
    align-items: center;
    color: var(--hero-heading-color);
    justify-content: center;
    background-color: var(--btn-color);
    padding: 0.5rem;
    border-radius: 4px;
}

/* Tabs  */

.tabs-container 
{
    display: flex;
    box-shadow: inset 0 -1px 0 var(--outline);
    overflow-x: auto;
    scrollbar-width: auto;
    margin-block-end: 16px;
    background-color: var(--background-color);
}

.tabs-container::-webkit-scrollbar {
    display: none;
}

.tab-btn 
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 24px;
    height: 48px;
    border-block-end: 2px solid transparent;
    transition: border 0.3s ease-in;
    flex: 1 0 80px;
    
}
.tab-btn:where(:hover, :focus-visible):not(:active)
{
    background-color: var(--black-alpha-10);

}

.tab-btn[data-selected="true"]
{
    border-color: var(--primary-color);
}

.tabs-section .tabs-container 
{
    position: sticky;
    top: calc(var(--header-height) - 1px);
   
    margin-block-end: 16px;
    z-index: 1;
}
.tab-panel 
{
    animation: fade-in 200ms linear;
}
.tab-panel[hidden] 
{
    display: none;
    transition: display 1s ease;
}

/* Tab Results Cards */

.grid-list 
{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(170px, 1fr));
    justify-content: space-between;
    gap: 16px 16px;
    padding-block-end: 20px;
    overflow-x: auto;
}

/* .image-holder 
{
    overflow: hidden;
    background-image: url("Assets/Placeholder\ image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */



.result-card
{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid whitesmoke;
    cursor: pointer;
    padding-block-end: 10px;
    
}

.result-card.skeleton::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #cacaca;
    z-index: 2;
    animation: skeleton 800ms linear infinite alternate;
}



.result-card:hover .card-title
{
    color: var(--primary-color);
}

.result-card-image 
{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.result-card .card-body
{
    padding-inline: 10px;
}

.result-card .card-body .card-title 
{
    font-size: 14px;
    font-weight: 500;
}

.result-card .card-body .meta-wrapper 
{
    display: flex;
    justify-content: space-between;
    color: var(--result-meta-color);
    
}

.meta-item .material-symbols-outlined
{
    font-size: 18px;
}

.meta-item .meta-label
{
    font-size: 12px;
}

 .meta-wrapper .meta-item
 {
    display: flex;
    align-items: center;
    gap: 6px;
 }

 .bookmark-btn.saved .bookmark-add, 
 .bookmark-btn.removed .bookmark 
 {
    display: none;
 }

 .bookmark-btn.saved .bookmark
 {
    font-variation-settings:'FILL' 1;
 }

 .bookmark-btn 
 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
 }

 .bookmark-btn:hover
 {
    background-color: var(--icon-btn-hover-color);
 }

 .skeleton 
 {
    background-color: var(--sekelton-color);
    animation: skeleton 500ms linear infinite alternate;
 }

 .skeleton-card .card-banner 
 {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 4px;
 }
 .skeleton-card .card-title 
 {
    width: 50%;
    height: 16px;
    margin-block: 8px;
 }

 .skeleton-card .card-text 
 {
    margin-block: 14px;
    width: 100%;
    height: 16px;
 }

 .show-more-btn 
 {
    display: block;
    background-color: var(--secondary-btn-color);
    padding: 8px 16px;
    border-radius: 10px;
    max-width: 100%;
    text-align: center;
    font-size: 14px;
    margin-block-start: 20px;
    transition: 0.1s background-color;
 }
 .show-more-btn:hover 
 {
    background-color: var(--secondary-btn-hover-color);
 }


/* Slider Container  */

.section-heading {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.slider-section
{
    margin-block-start: 16px;
}

.slider 
{
    --gap: 8px;
    position: relative;
    overflow-x: auto;
    padding-block: 10px;
    scroll-snap-type: inline mandatory;
}

.slider::-webkit-scrollbar { height: 4px;}

.slider::-webkit-scrollbar-thumb { background-color: var(--black-alpha-10);}

.slider:where(:hover , :focus-within)::-webkit-scrollbar-thumb { background-color: var(--black-alpha-20);}


.slider-wrapper 
{
    display: flex;
    align-items: stretch;
    gap: var(--gap);
}

.slider-item 
{
    min-width: calc(50% - 4px);
    scroll-snap-align: start;
}

.load-more-card 
{
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 4px;
    border: 1px solid var(--outline);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}


/* Tags Section  */

.tags-section
{
    text-align: center;
}

.tags-section .section-heading 
{
    font-size: 20px;
    font-weight: 600;
}

.tags-section .section-paragraph
{
    font-size: 12px;
}

.tags-section .tags 
{
    margin-block-start: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.tags-section .btn-tag 
{
    font-size: 12px;
    background-color: var(--secondary-btn-color);
    padding: 12px;
    border-radius: 20px;
}

/* Footer  */

.footer .container 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    border-block-start: 1px solid var(--outline);
}
.footer .container a
{
    color: var(--primary-color);
    font-weight: 500;
}
.edamam 
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.edamam img
{
    height: 30px;
}

 /* Media Queries  */

 @media screen and (min-width: 576px)
 {
    .mobile-nav { display: none;}
 }